html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.hidden {
    visibility: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

.body_wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 1;
    transition: all 0.5s ease;
}

.cover.hidden {
    opacity: 0;
    transition: all 0.5s ease;
}

section {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

/* Header start */

header {
    position: static;
    height: 120px; 
    background-color: #FFFFFF;
}

.header.content {
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.logo:hover {
    color: #FAFAFA;
}


h1 {
    margin: 0;
}

p {
    margin: 0;
}


h1.logo {
    height:58.2%;
    font-family: "Georgia";
    font-size: 32px;
    color: #545454;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.054em;
}

.subtitle {
    margin-left: 4px;
    margin-bottom: 2px;
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
    line-height: 14.95px;
    letter-spacing: 0.093em;
    color: #292929;
    white-space: nowrap;
}

.navigation {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.nav-item {
    padding-top: 16px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

.about-the-shelter {
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #545454;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.5s ease;
}

.about-the-shelter:hover {
    color: #292929;
}

.our-pets-link {
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #545454;
    border-bottom: solid 3px;
    border-bottom-color:  #F1CDB3;
    white-space: nowrap;
}


.contacts {
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    color: #545454;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.contacts:hover {
    color:  #292929;
}

.help-shelter {
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    color: #545454;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.help-shelter:hover {
    color: #292929;
}

.hamburger-menu {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 3;
    cursor: pointer;
}


#menu-toggle {
    display: none;
}

.menu-button {
    display: block;
    position: relative;
    background: transparent;
}

.menu-button:before,
.menu-button:after {
    content: '';
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: transform 0.3s ease;
}


.menu-button:before {
    top: 0;
  }


.menu-button:after {
    bottom: -22px;
  }


.menu-button span {
    position: absolute;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: transform 0.3s ease;
}

.header.content.open .menu-button span {
    transform: rotateZ(90deg); 
    background-color: #F1CDB3;
}

.header.content.open .menu-button:before {
    transform: rotateZ(90deg); 
    left: 10px;
    top: 10px;
    background-color: #F1CDB3;
}
.header.content.open .menu-button:after {
    transform: rotateZ(90deg); 
    left: -10px;
    top: 10px; 
    background-color: #F1CDB3;
}


/* Header end */

/* Our friends start */


.popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    background-color: rgba(41, 41, 41, 0.6);
    z-index: 1;
    transition: transform 0.5s ease;
}

.popup {
    position: relative;
    width: 952px;
    height: 552px;
    background: transparent;
    margin-bottom: 30px;
}


.popup-close {
    position: absolute;
    right: 10px;
    top: 0;
    border: solid 2px;
    border-radius: 100px;
    border-color: #F1CDB3;
    padding: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.popup-close:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.popup-content {
    position: absolute;
    width: 900px;
    height: 500px;
    top: 52px;
    left: 0;
    background: #FAFAFA;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popup-img {
    width: 500px;
    height: 500px;
    border-radius: 9px;
    left: 0;
}

.popup-text {
    width:351px;
    height: 362px;
    margin-bottom: 35px;
    margin-right: 20px;
}

.popup-title {
    font-family: "Georgia";
    font-size: 35px;
    font-weight: 400;
    color: #000000;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    margin: 0;
}

.popup-subtitle {
    font-family: "Georgia";
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin-top: 8px;
}

.popup-description {
    font-family: "Georgia";
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    line-height: 17px;
    letter-spacing: 0.059em;
    margin-top: 40px;
}

.popup-list {
    list-style-type: disc;
    margin-bottom: 0px;
    margin-top: 35px;
    padding-left: 15px;
}

.popup-list li::marker {
    color: #F1CDB3;
    font-size: 15px;
}

.popup-list-item {
    font-family: "Georgia";
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    line-height: 28px;
    letter-spacing: 0.12em;
    margin-block-start: 0;
    margin-block-end: 0;
}


.our-friends {
    height: 1342px;
    background-color: #F6F6F6;
    background-size: 100%;
}

.our-friends-content {
    height: 86.59%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.heading {
    margin: 0;
    font-family: "Georgia";
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;
}

.cards-container {
    width: 100%;
    height: 80.03%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 270px;
    height: 435px;
    border-radius: 9px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: #FFFFFF;
}

.card:hover a {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.pet-card-heading {
    margin: 0;
    font-family: "Georgia";
    font-size: 20px;
    font-weight: 400;
    color: #545454;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
}

.pets-link {
    width: 185px;
    border: solid 2px;
    border-radius: 100px;
    border-color: #F1CDB3;
    background: transparent;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    font-family: "Georgia";
    font-size: 17px;
    font-weight: 400;
    color: #292929;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    transition: all 0.5s ease; 
}

.pets-link:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.cards-navigation {
    width: 28.33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards-navigation button {
    width: 52px;
    height: 52px;
    border: solid 2px;
    border-radius: 100px;
    border-color: #F1CDB3;
    background-color: #F6F6F6;
    margin: 0 0 2px 0;
    font-family: "Georgia";
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.5s ease; 
}


button.active {
    background-color: #F1CDB3;
    border-color:#F1CDB3;
    pointer-events: none;
}

.cards-navigation button:disabled {
    border-color: #CDCDCD;
    pointer-events: none;
    cursor: not-allowed;
    color:#CDCDCD;
}

button:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

/* Our friends section end */

/* Footer start */

footer {
    height: 350px;
    background: url('../../source/images/noise_transparent@2x.png'), radial-gradient(100% 300% at 0% 0%, rgba(81, 61, 47, 1),rgba(26, 26, 28, 1),rgba(33, 31, 32, 1));
}

.contacts-content {
    width: 93.75%;
    height: 88.57%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0 40px;
}

.contacts-block {
    width: 23.16%;
    height: 75.48%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.mail {
    width: 90.29%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mail img {
    width: 40px;
    height: 32px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.mail img:hover {
    transform: rotate(360deg);
}

.e-mail {
    font-family: "Georgia";
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.059em;
    color: #F1CDB3;
    cursor: pointer;
    transition: all 0.5s ease;
}

.e-mail:hover {
    color: #FAFAFA;
}

.contacts-heading {
    margin: 0;
    font-family: "Georgia";
    font-size: 35px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 45.5px;
    letter-spacing: 0.059em;
}

.phone {
    width: 85.97%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.phone img {
    width: 40px;
    height: 32px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.phone img:hover {
    transform: rotate(360deg);
}

.phone-number {
    font-family: "Georgia";
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.059em;
    color: #F1CDB3;
    cursor: pointer;
    transition: all 0.5s ease;
}

.phone-number:hover {
    color: #FAFAFA;
}

.location {
    width: 25.16%;
    height: 75.48%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.location-heading {
    margin: 0;
    font-family: "Georgia";
    font-size: 35px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 45.5px;
    letter-spacing: 0.065em;
}

.address {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.address img {
    width: 22px;
    height: 32px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.address img:hover {
    transform: rotate(360deg);
}


.location-address {
    width: 86.09%;
    font-family: "Georgia";
    font-size: 20px;
    font-weight: 400;
    color: #F1CDB3;
    line-height: 23px;
    letter-spacing: 0.061em;
    cursor: pointer;
    transition: all 0.5s ease;
}

.location-address:hover {
    color: #FAFAFA;
}


.footer.puppy {
    width: 300px;
    height: 310px;
}

@font-face {
    font-family: "Arial"; 
    src: url("../../source/fonts/Arial.ttf") format("truetype"); 
    font-style: normal; 
  } 

  @font-face {
    font-family: "Georgia"; 
    src: url("../../source/fonts/Georgia.ttf") format("truetype"); 
    font-style: normal; 
  } 